/* You can add global styles to this file, and also import other style files */

.container {
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.app-input {
    width: 30%;
    margin-bottom: 30px;
}

.description {
    width: 50%;
}